<!-- Name: Nadine Castro, Student Number: 301105146 -->
@{
    ViewBag.Title = "Maple Soccer League";
}

<section class="jumbotron text-center">
    <div class="container">
        <h2>Maple Soccer League</h2>
        <p class="lead text-muted">
            A web-based management system for soccer clubs within Canada. It allows
            the user to add a club, view club information, and manage its players.
        </p>
        <p>
            <a href="#" class="btn btn-danger my-2">View more</a>
        </p>
    </div>
</section>

<div class="card-deck">

    <div class="card">
        <img src="~/images/cristiano-ronaldo.jpg" class="card-img-top" alt="Cristiano Ronaldo">
        <div class="card-body">
            <h5 class="card-title">Featured Player # 1</h5>
            <p class="card-text">Cristiano Ronaldo - a top-scorer of Real Madrid</p>
        </div>
    </div>

    <div class="card">
        <img src="~/images/david-beckham.jpg" class="card-img-top" alt="David Beckham">
        <div class="card-body">
            <h5 class="card-title">Featured Player # 2</h5>
            <p class="card-text">David Beckham - a Manchester United soccer legend</p>
        </div>
    </div>

    <div class="card">
        <img src="~/images/lionel-messi.jpg" class="card-img-top" alt="Lionel Messi">
        <div class="card-body">
            <h5 class="card-title">Featured Player # 3</h5>
            <p class="card-text">Lionel Messi - a star player of F.C. Barcelona</p>
        </div>
    </div>

</div>

<div class="card-deck">

    <div class="card">
        <img src="~/images/fc-barcelona.png" class="card-img-top" alt="F.C. Barcelona">
        <div class="card-body">
            <h5 class="card-title">Featured Club # 1</h5>
            <p class="card-text">F.C. Barcelona</p>
        </div>
    </div>

    <div class="card">
        <img src="~/images/manchester-united.png" class="card-img-top" alt="Manchester United">
        <div class="card-body">
            <h5 class="card-title">Featured Club # 2</h5>
            <p class="card-text">Manchester United</p>
        </div>
    </div>

    <div class="card">
        <img src="~/images/real-madrid.jpg" class="card-img-top" alt="Real Madrid">
        <div class="card-body">
            <h5 class="card-title">Featured Club # 3</h5>
            <p class="card-text">Real Madrid</p>
        </div>
    </div>

</div>
