<!-- Name: Nadine Castro, Student Number: 301105146 -->
@model PlayerClubViewModel

<h4>Edit club</h4>

<div>
    <p>Edit an existing player</p>
</div>
<hr />

<div class="col-md-4 margin-top">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Players.PlayerID" />

        @Html.Partial("PlayerPartial")

        <button type="submit" class="btn btn-danger">Save</button>
        <button asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</button>

    </form>
</div>



