<!-- Name: Nadine Castro, Student Number: 301105146 -->
@model Club

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

    <div class="form-group">
        <label asp-for="ClubName">Club Name:</label>
        <div><span asp-validation-for="ClubName" class="text-danger"></span></div>
        <input asp-for="ClubName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ClubNickName">Club Nickname:</label>
        <div><span asp-validation-for="ClubNickName" class="text-danger"></span></div>
        <input asp-for="ClubNickName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="YearFounded">Year Founded:</label>
        <div><span asp-validation-for="YearFounded" class="text-danger"></span></div>
        <input asp-for="YearFounded" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="President">President:</label>
        <div><span asp-validation-for="President" class="text-danger"></span></div>
        <input asp-for="President" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Coach">Coach:</label>
        <div><span asp-validation-for="Coach" class="text-danger"></span></div>
        <input asp-for="Coach" class="form-control">
    </div>

