<!-- Name: Nadine Castro, Student Number: 301105146 -->
@model Response

@{
    ViewBag.Title = "Maple Soccer League";
}

<h4>Thank you, @Model.Name</h4>

<div>
    <p>We can't wait to see you soon!</p>
    <p>Click <a asp-controller="Event" asp-action="Index">here</a> to see other events you might be interested in.</p>
</div>
<hr />




